STELLAR_NETWORK=testnet
STELLAR_CHAIN_ID=stellar-testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_SIGNING_KEY=
STELLAR_KEY_NAME=stellar-relayer
DEPLOYER_IDENTITY=admin
DEPLOYER_ADDRESS=

STELLAR_SENDER_IDENTITY=stellar-sender
STELLAR_SENDER_ADDRESS=
STELLAR_SENDER_KEY=
STELLAR_RECEIVER_IDENTITY=stellar-receiver
STELLAR_RECEIVER_ADDRESS=
STELLAR_RECEIVER_KEY=

STELLAR_API_HOST=0.0.0.0
STELLAR_API_PORT=8101
STELLAR_API_URL=http://127.0.0.1:8101

STELLAR_GATEWAY_HOST=0.0.0.0
STELLAR_GATEWAY_GRPC_PORT=50052
STELLAR_GATEWAY_URL=127.0.0.1:50052

COSMOS_NETWORK=local
COSMOS_CHAIN_ID=simd-1
COSMOS_RPC_URL=http://127.0.0.1:26657
COSMOS_REST_URL=http://127.0.0.1:1317
COSMOS_GRPC_URL=http://127.0.0.1:9090
COSMOS_KEY_NAME=relayer
COSMOS_ACCOUNT_PREFIX=cosmos
COSMOS_GAS_DENOM=stake
COSMOS_VALIDATOR_MNEMONIC=
COSMOS_RELAYER_MNEMONIC=
COSMOS_PROPOSER_PRIVATE_KEY=
COSMOS_FUNDER_PRIVATE_KEY=
COSMOS_SENDER_KEY_NAME=cosmos-sender
COSMOS_SENDER_ADDRESS=
COSMOS_RECEIVER_KEY_NAME=cosmos-receiver
COSMOS_RECEIVER_ADDRESS=

COSMOS_TESTNET_NAME=cosmos-testnet
COSMOS_TESTNET_CHAIN_ID=provider
COSMOS_TESTNET_RPC_URL=https://rpc.provider-sentry-01.hub-testnet.polypore.xyz
COSMOS_TESTNET_REST_URL=https://rest.provider-sentry-01.hub-testnet.polypore.xyz
COSMOS_TESTNET_GRPC_URL=https://grpc.provider-sentry-01.hub-testnet.polypore.xyz
COSMOS_TESTNET_FAUCET_URL=https://faucet.polypore.xyz
COSMOS_TESTNET_MNEMONIC=
COSMOS_TESTNET_KEY_NAME=interstellar-cosmos
COSMOS_TESTNET_KEYRING_BACKEND=test
OSMOSIS_VERSION=31.0.3

ROUTER_CONTRACT_ADDRESS=
TRANSFER_CONTRACT_ADDRESS=
MOCK_LC_CONTRACT_ID=
ATTESTATION_LC_CONTRACT_ID=
TENDERMINT_LC_CONTRACT_ID=

COSMOS_CLIENT_ID=
STELLAR_CLIENT_ID=

API_IMAGE=amandagonsalvesx/stellar-eureka-api
API_TAG=latest
API_REGISTRY=

GATEWAY_IMAGE=amandagonsalvesx/stellar-eureka-gateway
GATEWAY_TAG=latest
GATEWAY_REGISTRY=

HERMES_IMAGE=amandagonsalvesx/stellar-hermes-cardano
HERMES_TAG=latest
HERMES_REGISTRY=
HERMES_REPO=../hermes-relayer
HERMES_REPO_URL=
HERMES_BRANCH=main
HERMES_CONFIG_PATH=/home/hermes/.hermes/config.toml
HERMES_LOG_LEVEL=debug

DOCKER_USERNAME=
DOCKER_TOKEN=
