STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_GATEWAY_GRPC_PORT=50052
STELLAR_GATEWAY_HTTP_PORT=8001
STELLAR_SIGNING_KEY=
IBC_CONTRACT_ID=
TRANSFER_CONTRACT_ID=
PROTOS_OUT_DIR="protos"

DOCKER_USERNAME=
DOCKER_TOKEN=

HERMES_REPO=
HERMES_IMAGE=
HERMES_TAG=latest
HERMES_REGISTRY=

GATEWAY_IMAGE=
GATEWAY_TAG=latest
GATEWAY_REGISTRY=

INCUBATOR_REPO=
LOCAL_CLOCK_IMAGE=cardano-node-local-clock:10.1.4-3

DEPLOYER_IDENTITY=stellar-ibc-deployer
DEPLOY_ATTESTATION_LC=0
DEPLOY_TENDERMINT_LC=0
FORCE_REDEPLOY=0
TRANSFER_PORT=transfer
MOCK_CLIENT_TYPE=mock
ATTESTATION_CLIENT_TYPE=attestation
TENDERMINT_CLIENT_TYPE=07-tendermint

DEPLOYER_ADDRESS=
MOCK_LC_CONTRACT_ID=
ATTESTATION_LC_CONTRACT_ID=
TENDERMINT_LC_CONTRACT_ID=

PUSH=1
SKIP_IMAGE_BUILD=0
SKIP_CONTRACT_DEPLOY=0
