STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_GATEWAY_GRPC_PORT=50052
STELLAR_API_HOST=0.0.0.0
STELLAR_API_PORT=8101
STELLAR_SIGNING_KEY=
IBC_CONTRACT_ID=
TRANSFER_CONTRACT_ID=
PROTOS_OUT_DIR="protos"

COSMOS_CHAIN_NAME=osmosis
COSMOS_NETWORK=local
COSMOS_CHAIN_ID=localosmosis
COSMOS_RPC_URL=http://127.0.0.1:26658
COSMOS_REST_URL=http://127.0.0.1:1318
COSMOS_GRPC_URL=http://127.0.0.1:9094
COSMOS_ACCOUNT_PREFIX=osmo
COSMOS_GAS_DENOM=uosmo
COSMOS_PROPOSER_KEY=val
COSMOS_VOTER_KEY=val
OSMOSIS_VERSION=31.0.3
OSMOSIS_LOCAL_GENESIS_TIME=2025-12-31T23:59:00Z

DOCKER_USERNAME=
DOCKER_TOKEN=

HERMES_REPO=
HERMES_IMAGE=
HERMES_TAG=latest
HERMES_REGISTRY=

GATEWAY_IMAGE=
GATEWAY_TAG=latest
GATEWAY_REGISTRY=

INCUBATOR_REPO=
LOCAL_CLOCK_IMAGE=cardano-node-local-clock:10.1.4-3

DEPLOYER_IDENTITY=stellar-ibc-deployer
DEPLOY_ATTESTATION_LC=0
DEPLOY_TENDERMINT_LC=0
FORCE_REDEPLOY=0
TRANSFER_PORT=transfer
MOCK_CLIENT_TYPE=mock
ATTESTATION_CLIENT_TYPE=attestation
TENDERMINT_CLIENT_TYPE=07-tendermint

DEPLOYER_ADDRESS=
MOCK_LC_CONTRACT_ID=
ATTESTATION_LC_CONTRACT_ID=
TENDERMINT_LC_CONTRACT_ID=

PUSH=1
SKIP_IMAGE_BUILD=0
SKIP_CONTRACT_DEPLOY=0
